/* used colors:
	old dark-grey background: #1c1c1c
	new dark-grey background: #2a2a2a;
	whitish font: #f2f2f2
	yellow: #ffc107 */
	
:root {
	--bg-color: #2a2a2a;			/* var(--bg-color) */
	--font-color: #f2f2f2;		/* var(--font-color) */
	--main-color: #cbfa2f;
	/* --main-color: #ffc107; */		/* var(--main-color) */
}

p, div, h1, h2, a, nav, tr {
	color: var(--font-color);
	background-color: var(--bg-color);
}

a:hover {
	color: var(--main-color);
}

body {
  margin: 0;
  padding: 0;
	height: 100%;
	background-color: var(--bg-color);
}

.btn-color {
  color: var(--bg-color);
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.btn-color:hover {
  background-color: var(--font-color) !important;
}

.btn-inverse-color {
  color: var(--main-color);
  background-color: var(--bg-color);
  border-color: var(--bg-color);
}

.btn-inverse-color:hover {
  color: var(--font-color) !important;
}

.btn-maxlen {
	width: 100% !important;
}

.card-color {
  background-color: var(--main-color) !important;
	color: var(--bg-color);
}

.card-space {
	margin-bottom: 1em;
}

.category-selector img {
  filter: grayscale(100%) contrast(200%) brightness(100%);
}

:checked+.category-selector img {
  filter: grayscale(0%);
}

.checkbox-input {
	display: none;
}

.checkbox-margin {
	 margin-top: 17px; 
	 margin-left: 10px;
}

.empty-row {
	height: 3em !important;
}

.error-code {
	text-align: center;
	font-size: 15vh;
	color: red;
}

.error-text {
	text-align: center;
	font-size: 5vh;
}

.footer{
	 justify-content: space-between;
	 position: absolute;
	 width: 100%;
	 bottom: 0; /* stick to bottom */
}

.h5-font {
	font-size: 24px;
}

.header {
	width: 90%;
	margin: auto;
	font-size: 18px;
	font-family: sans-serif;
}

.icon-edit {
	filter: grayscale(100%) contrast(200%) brightness(100%);
}

.img-border {
	border: 2px solid var(--main-color);
}

.img-preview {
	max-width: 600px;
	max-height: 400px;
}

.list-button {
	background: transparent;
	border: none;
}

.list-checkbox {
	transform: scale(2);
}

.list-input {
	background: transparent;
	border: none;
	border-bottom: 1px solid var(--main-color);
	color: var(--font-color);
}

.main-fontcolor {
	color: var(--main-color);
}

.row-padding {
	padding-top: 15px;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid var(--main-color);
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid var(--main-color);
}

.vertical-center {
	min-height: 200px;
	min-width: 100%;
  height: auto !important; 			/* real browsers */
	position: relative; 					/* needed for footer positioning*/
	margin: auto;
	background-color: green;
}

div#container {
  width: 70%;
  height: auto !important; 			/* real browsers */
  min-height: 100vh; 						/* real browsers */
	position: relative; 					/* needed for footer positioning*/
	margin: auto;
  background-color: var(--bg-color);
}

div#content {
  padding: 3em 3em 5em; /* bottom padding for footer */
/*   display: flex; */
  justify-content: space-around;
}

input.form {
	border-bottom: 1px solid var(--main-color);
	color: var(--font-color);
}

table.content {
	width: 100%;
}

table.form {
	border-collapse:separate; 
	border-spacing:0 15px;
}

td#edge {
	width: 45%;
}

td#center {
	width: 10%;
}

div#verticalLine {
  border-right: 1px solid var(--main-color);
  height: 80vh;
}

p#warning{
	color: red;
	display: none;
}

div#error p#errorMessage{
	width: 100%;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #fc3d3d;
	border-color: #ebccd1;
	text-align: center;
}

div#msg {
	width: 100%;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: var(--bg-color);
	background-color: #83f54e;
	border-color: #d5ffc2;
	text-align: center;
}